<div class="form-row">
<div class="form-item"><label>Title:</label>
<input type="text" name="title" value="<%= film.title %>">
</div><!-- end first item -->

<div class="form-item">
<label>Actor:</label>
<select name="actor">

<% actors.forEach(actor => { %>

<% if (actor.id === film.actor) { %>

<option selected label="<%= actor.name %>" value="<%= actor.id %>">

<% } else { %>

<option label="<%= actor.name %>" value="<%= actor.id %>">

<% } %> 

<% }) %> 

</select>
</div><!-- end second item -->
</div><!-- end first row -->

<div class="form-row">
<div class="form-item">
<label>Publish Date:</label>
<input type="date" name="publishDate" value="<%= film.publishDate == null ? '' :
 film.publishDate.toISOString().split('T')[0] %>">
</div><!-- end publishdate item -->


<div class="form-item">
<label>Scene Count:</label>
<input type="number" name="sceneCount" min="1" value="<%= film.sceneCount %>">
</div><!-- end scenecount item -->
</div><!-- end second row -->

<div class="form-row">
<div class="form-item form-item-no-grow">
<label>Cover:</label>
<input type="file" name="cover" class="filepond" >
</div><!-- end cover item -->


<div class="form-item">
<label>Description:</label>
<textarea name="description"><%= film.description %></textarea>
</div><!-- end description item -->
</div><!-- end third row -->