<h2 class="page-header"><%= film.title %></h2>
<div class="film-details">
<div>
<img class="film-cover" src="<%= film.coverImagePath %>">
<div class="film-details-btn-grid"> 
<a class="btn btn-primary" href="/films/<%= film.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/films/${film.id }` }) %>
<a class="btn btn-primary film-details-actor-button" href="/actors/<%= film.actor.id %>">View Actor</a>
</div>
</div>

<div class="film-details-grid"> 

<div class="film-details-label">Actor:</div>
<div><%= film.actor.name %></div>
<div class="film-details-label">Publish Date:</div>
<div><%= film.publishDate.toDateString() %></div>
<div class="film-details-label">Scene Count:</div>
<div><%= film.sceneCount %></div>
<div class="film-details-label">Description:</div>
<div><%= film.description %></div>

</div>

</div>