<h2 class="page-header"><%= film.title %></h2>
<img src="<%= film.coverImagePath %>"> 
<div>Actor: <%= film.actor.name %></div>
<div>Publish Date: <%= film.publishDate.toDateString() %></div>

<div>Page Count: <%= film.sceneCount %></div>
<div>Description: <%= film.description %></div>

<a href="/films/<%= film.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/films/${film.id }` }) %>
<a href="/actors/<%= film.actor.id %>">View Actor</a>